header
    .title {{ card.title }}
    .owner(data-card-id="card.uuid")
        .menu Menu
        .avatar
.desc {{ card.description }}
invited([inviteds]="card.inviteds")
comments-container([comments]="card.commentsCount", [reactions]="card.reactionsCounts")
watch([card-id]="card.uuid")
fork([card-id]="card.uuid")
