include ../../../mixins

header
    .avatar
      avatar-editor(
          editable="false",
          avatar-type="small-head",
          [avatar]="card.owner.avatar",
          background="black"
      )
    .title {{ card.title }}
    owner(
        [owner]="card.owner",
        [owner-options]="ownerMenu",
        [card-id]="card.uuid",
    )
.desc {{ card.description }}
invited([inviteds]="card.inviteds")
comments-container(
    [comments]="card.commentsCount",
    [reactions]="card.reactionsCounts"
)
.actions
  watch([card-id]="card.uuid")
  fork([card-id]="card.uuid")
