@import '../../../globals.css';

:host {
    background: var(--white);
    border-radius: 4px;
    box-shadow: 3px 3px 2px var(--gray400);
    cursor: move;
    margin: .5rem;
    overflow: hidden;
    transition: box-shadow .2s ease-in;
    width: 250px;
}

header {
    display: flex;
    justify-content: space-between;
}
