doctype html
include ../../../mixins

header
    .avatar
        avatar-editor(
            editable="false",
            avatar-type="medium-head",
            [avatar]="card.owner.avatar",
            background="black"
        )
    .title {{ card.title }}
    owner(
        #owner,
        *ngIf="session.currentUser && session.currentUser.username === card.owner.username",
        [owner]="card.owner",
        [owner-options]="ownerMenu",
        [card-id]="card.uuid",
        (mouseleave)="owner.closeMenu()"
    )

.desc {{ card.description }}
invited([inviteds]="card.inviteds")

comments-container(
    [entity]="entity",
    [uuid]="card.uuid",
    [comments]="card.commentsCount",
    [reactions]="card.reactionsCounts"
)

.actions(*ngIf="session.currentUser")
    watch([card-id]="card.uuid")
    fork([card-id]="card.uuid")
