@import '../../../globals.css';

:host {
    background: var(--white);
    border-radius: 4px;
    box-shadow: 3px 3px 2px var(--gray300);
    margin: .5rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

header {
    align-items: center;
    background: var(--primary);
    color: var(--white);
    display: flex;
}

header avatar-editor {
    border-radius: 0;
}

.title {
    flex-grow: 1;
    font-size: var(--font-large);
    margin-left: 1rem;
    font-weight: var(--bold);
}

.desc {
    font-weight: var(--light);
    line-height: 1.8rem;
    padding: 2rem 2rem;
}

.actions {
    display: flex;
    margin: 0 2rem;
    border-top: 1px solid var(--gray300);
    padding-top: 1rem;
    margin-bottom: 1rem;
    opacity: .3;
    transition: opacity .2s ease-in;
    &:hover {
        opacity: 1;
    }
}

.avatar {
    position: relative;
    border-top-left-radius: 4px;
    overflow: hidden;
}


.title input {
    width: 100%;
    font-weight: normal;
}

.desc textarea {
    border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 250px;
}

button.save {
    @apply --button;
    @apply --button-action;
    padding: 1.2rem;
    fill: white;
}

button.cancel {
    @apply --button;
    @apply --button-action;
    background: var(--gray300);

    &:hover {
        background: var(--gray100);
    }

    padding: 1.2rem;
}


.title.is-editing {
    padding-right: 1rem;
}
