include ../../../mixins

nav.nav-bar
    a.logo(
        [routerLink]="['/']",
        (click)="setTitle( 'Home | ΠWEEK' )"
    )
        img(src="/assets/images/logo.png")
    a(
        [routerLink]="['/ideas']",
        (click)="setTitle( 'Ideas | ΠWEEK' )"
    ) Ideas
    a(
        [routerLink]="['/projects']",
        (click)="setTitle( 'Projects | ΠWEEK' )"
    ) Projects
    a(
        [routerLink]="['/marketplace']",
        (click)="setTitle( 'Marketplace | ΠWEEK' )"
    ) Marketplace

    .login(*ngIf="session.currentUser")
        avatar-editor(
            editable="false",
            avatar-type="small-head",
            [head]="session.currentUser.avatar.head",
            [body]="session.currentUser.avatar.body",
            [legs]="session.currentUser.avatar.legs",
            [background]="session.currentUser.avatar.background")

        a(
            [routerLink]="['/profile']",
            (click)="setTitle( 'Profile | ΠWEEK' )"
        ) {{session.currentUser.fullName}}

    .login(*ngIf="!session.currentUser")
        a(
            href="javascript:void(0)",
            (click)="displayLogin()"
        ) Login
.login-form-wrapper(*ngIf="isLoginVisible")
    login-form((loginVisibility)="handleCloseLogin()")
        +comploader
