@import '../../../globals.css';

:host {
    color: var(--white);
}

.nav-bar {
    background: var(--primary-dark);
    align-items: center;
    display: flex;
}

a {
    color: currentColor;
    font-weight: var(--bold);
    padding: 1rem;
    text-decoration: none;
    transition: color .2s;
    &:hover {
        color: pink;
    }
}
