nav.nav-bar
    a.logo([routerLink]="['/']")
        img(src="/assets/images/logo.png")
    a([routerLink]="['/ideas']")
        span Ideas
    a([routerLink]="['/marketplace']") Marketplace
    a([routerLink]="['/profile']") Profile

    .login
      avatar-editor(editable="false", avatar-type="small-head", [head]="currentUser.avatar.head", [body]="currentUser.avatar.body", [legs]="currentUser.avatar.legs", [background]="currentUser.avatar.background")

      a([routerLink]="['/login']") Login
