.container
  span.label Invitados
  .invited(*ngIf='!editing') 
    .user-list(*ngIf="inviteds.length")
      avatar-editor(
          *ngFor="let user of inviteds",
          editable="false",
          avatar-type="small-head",
          [avatar]="user.avatar",
      )
    p(*ngIf="!inviteds.length") No hay ningún invitado
    button.add((click)="startEditing()") +

  user-autocomplete(*ngIf="editing", (onSelectUser)="addUser($event)")
