.container
  span.label Invitados
  .invited(*ngIf='!editing') 
    user-list(*ngIf="inviteds.length", [users]="inviteds")
    p(*ngIf="!inviteds.length") No hay ningún invitado
    button.add((click)="startEditing()") +

  user-autocomplete(*ngIf="editing", (onSelectUser)="addUser($event)")
