@import '../../../globals.css';

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 50vw;
}

.site-description {
    & span {
        color: var(--gray800);
        display: block;
        font-size: var(--font-xlarge);
        font-weight: var(--light);
    }
}

.next-edition {
    color: var(--primary);
    font-size: var(--font-xlarge);
}
