section
  .content
    img.logo(src="/assets/images/logo.png")
    
    h1.site-description
      span 
        em | ˈpaɪ ˈwiːk |
      span is an original idea by Kaleidos
      span 
        | Every six months participants leave their ongoing work in 
        | standby to devote an entire week to personal innovative projects, 
        | either alone or joined by others.
  
    h2.next-edition
      span #piweek X edition 11-15 July, 2016
      span 
        a(href="http://piweek.com") Do you want to join us?