include ../../../mixins

section.content
    counterback
        +comploader
    h1.site-description
        span
            em | ˈpaɪ ˈwiːk |
        span is an original idea by Kaleidos
        span
            | Every six months participants leave their ongoing work in
            | standby to devote an entire week to personal innovative projects,
            | either alone or joined by others.

    p.next-edition #piweek X edition ADD EDITION FROM API
    a(href="http://piweek.com") Do you want to join us?
