section
    h1.title Winners!
    h2.subtitle ΠWEEKR!
    img(src="/assets/images/end.gif")
    audio(autoplay)
        source(src="assets/audio/rr8bit.mp3", type="audio/mpeg")
        source(src="assets/audio/rr8bit.ogg", type="audio/ogg")
