section
  form(method="post")
    label Username
    input(autofocus="true", name="username")
    label Password
    input(type="password", name="password")
    button(type="submit", value="login") Login

