section {
    margin-top: 5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 22em;
    margin: auto;

    & * {
        margin-top: 0.2em;
    }

    & label, & button {
        margin-top: 0.7em;
    }
}
