section
  avatar-editor([editable]="true", [(head)]="currentUser.avatar.head", [(body)]="currentUser.avatar.body", [(legs)]="currentUser.avatar.legs")
  avatar-editor(editable="false", [head]="currentUser.avatar.head", [body]="currentUser.avatar.body", [legs]="currentUser.avatar.legs", [background]="currentUser.avatar.background")
  avatar-editor(editable="false", avatar-type="small-body", [head]="currentUser.avatar.head", [body]="currentUser.avatar.body", [legs]="currentUser.avatar.legs", [background]="currentUser.avatar.background")
  avatar-editor(editable="false", avatar-type="medium-body", [head]="currentUser.avatar.head", [body]="currentUser.avatar.body", [legs]="currentUser.avatar.legs", [background]="currentUser.avatar.background")
  avatar-editor(editable="false", avatar-type="small-head", [head]="currentUser.avatar.head", [body]="currentUser.avatar.body", [legs]="currentUser.avatar.legs", [background]="currentUser.avatar.background")
  avatar-editor(editable="false", avatar-type="medium-head", [head]="currentUser.avatar.head", [body]="currentUser.avatar.body", [legs]="currentUser.avatar.legs", [background]="currentUser.avatar.background")


  