@import '../../../globals.css';

:host {
    display: block;
    padding-top: 50px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    max-width: 800px;
    width: 100%;
}

header {
    align-items: center;
    background: var(--primary);
    color: var(--white);
    display: flex;
}

header avatar-editor {
    margin-right: 1rem;
}

.title {
    flex-grow: 1;
    font-size: var(--font-large);
    font-weight: var(--bold);
    padding: 1rem;
}

avatar-editor {
    display: block;
    width: 15rem;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.form {
    background: var(--white);
    flex-grow: 1;
    font-weight: var(--light);
    margin-left: 1rem;
}

form {
    padding: 2rem 2rem;
}

button {
    @apply --button;
    @apply --button-action;
    margin-top: 2em;
}

.label {
    font-size: var(--font-xsmall);
    font-weight: var(--bold);
    margin: 1rem 0;
}
