doctype html
include ../../../mixins

.filters
    filters
    button(
        type="button",
        (click)="addNewItem()"
    )
        +icon('icon-add')

section.card-container
    card-form(
        [ngClass]="{'is-visible': isItemFormVisible}",
        [type]="type"
    )
    card(
        *ngFor="let item of itemsList",
        [entity]="entity",
        [attr.data-card-id]="item.uuid",
        [card]="item",
        [owner-menu]="ownerMenu"
    )
        +comploader
