doctype html
include ../../../mixins

.filters
    filters
    button(
        *ngIf="session.currentUser",
        type="button",
        (click)="addNewItem()"
    )
        +icon('icon-add')

section.card-container
    card-form(
        [ngClass]="{'is-visible': isItemFormVisible}",
        [type]="type",
        (onCardClosed)="handleCardClosed()",
        (onCardCreated)="handleCardCreated($event)"
    )
    card(
        *ngFor="let item of itemsList",
        [editTopic]="editTopic",
        [entity]="entity",
        [attr.data-card-id]="item.uuid",
        [card]="item",
        [owner-menu]="ownerMenu"
    )
        +comploader
    .no-result(*ngIf='!itemsList.length')
        .title No hay resultados
        img(src='http://i.giphy.com/O38dU2kkQ9sWc.gif', title='No hay resultados')
