@import '../../../globals.css';

:host {
    flex: 1;
    position: relative;
}

.card-container {
    margin: 2rem auto;
    max-width: 800px;
    width: 100%;
}

button {
    @apply --button;
    @apply --button-primary;
    width: 150px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    & svg {
        fill: var(--white);
        height: 1.2rem;
        vertical-align: bottom;
        padding-right: .5rem;
        width: 1.2rem;
    }
}
