include ../../../mixins

button(type="button")
    +icon('icon-add')
section.card-container
    card(
        *ngFor="let item of itemsList",
        [attr.data-card-id]="item.uuid",
        [card]="item",
        [owner-menu]="ownerMenu"
    )
