@import '../../../globals.css';

:host {
    flex: 1;
    margin-left: 20vw;
}

.card-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 800px;
    width: 100%;
}

.filters {
    display:flex;
    flex-direction: row;
    margin: .5rem;
}

button {
    @apply --button;
    @apply --button-action;
    border-radius: 0 4px 4px 0;
    box-shadow: 2px 2px 2px var(--gray300);
    & .icon {
        fill: var(--white);
        height: 2rem;
        width: 2rem;
    }
}
