@import '../../../globals.css';

:host {
    background: var(--white);
    display: block;
    margin: auto;
    padding: 2em 5em;
    max-width: 640px;
    width: 100%;
    position: relative;
}

h2 {
    color: var(--gray900);
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.icon-close {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--gray400);
    transition: fill .2s;
    &:hover {
        fill: var(--text);
    }
}

button {
    @apply --button;
    @apply --button-primary;
    margin-top: 2em;
}

.error {
    background-color: var(--error-background);
    border: 1px solid red;
    border-radius: 2px;
    color: var(--error-text);
    margin-top: 1rem;
    padding: 1rem;

    & p {
        margin: 0;
    }
}
