@import '../../../globals.css';

:host {
    background: white;
    display: block;
    margin: auto;
    padding: 2em 5em;
    max-width: 640px;
    width: 100%;
    position: relative;
}

h2 {
    color: var(--gray900);
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.icon-close {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--gray400);
    transition: fill .2s;
    &:hover {
        fill: var(--text);
    }
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    height: 3em;
    padding: 0 1em;
    margin-top: 1em;
    transition: all .2s;
}

button {
    background: var(--primary);
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5em;
    margin-top: 2em;
    transition: background .2s;

    &:hover {
        background: var(--primary-dark);
    }
}
