h2.intitle(*ngIf="participants.length") Participants
.list.participants-list(*ngIf="participants.length")
    avatar-editor(
        *ngFor="let participant of participants",
        editable="false",
        avatar-type="small-head",
        [avatar]="participant.avatar",
    )

h2.intitle(*ngIf="interesteds.length") Interesteds
.list.interesteds-list(*ngIf="interesteds.length")
    avatar-editor(
        *ngFor="let interested of interesteds",
        editable="false",
        avatar-type="small-head",
        [avatar]="interested.avatar",
    )
