p Aquí van los avatares pero back es muy lento.

// - for (var x = 1; x < 8; x++)
//     avatar-editor(
//         editable="false",
//         avatar-type="small-head",
//         [avatar]="card.owner.avatar"
//     )
