@import '../../../globals.css';

:host {
    min-height: calc(100vh - 50px);
    display: flex;
    padding-top: 50px;
}

section {
    margin: 0 auto;
    max-width: 1200px;
    width: 90vw;
}

h1 {
    margin-bottom: 2rem;
}
