:host {
    display: block;
}

:host[avatar-type="small-body"] {
    height: 73px;
    width: 36px;
    & .avatar-editor {
        transform: scale(0.3);
        transform-origin: top left;
        position: absolute;
    }
}

:host[avatar-type="medium-body"] {
    height: 170px;
    width: 84px;
    & .avatar-editor {
        transform: scale(0.7);
        transform-origin: top left;
        position: absolute;
    }
}

:host[avatar-type="small-head"] {
    height: 36px;
    width: 36px;
    & .avatar-editor {
        transform: scale(0.3);
        transform-origin: top left;
        height: 120px;
        position: absolute;
    }
}

:host[avatar-type="medium-head"] {
    height: 52px;
    width: 52px;
    & .avatar-editor {
        transform: scale(0.43);
        transform-origin: top left;
        height: 120px;
        position: absolute;
    }
}


.avatar-editor {
    vertical-align: center;
    overflow: hidden;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar__head {
    margin-bottom: -3px;
}

.avatar__legs {
    margin-top: -30px;
}

.avatar__body {
    z-index: 1;
    position: relative;
}

.image {
    flex-grow: 1;
    text-align: center;
}

.image img {
    // position: relative;
}

.avatar-editor__part {
    display: flex;
    align-items: center;
}


.btn-head__left,
.btn-head__right,
.btn-body__left,
.btn-body__right,
.btn-legs__left,
.btn-legs__right
 {
     font-family: cursive;
     text-decoration: none;
     color: orange;
     font-size: 40px;
     padding: 4px;
 }