/* DO NOT INSERT COMPILABLE CODE IN THIS FILE SINCE IT WILL BE IMPORTED IN EVERY FILE */
/* ADD ONLY SHARED STYLES ACROSS ALL FILES */


/* Variables */

:root {
    --black: #000000;
    --gray900: #212121;
    --gray800: #424242;
    --gray700: #616161;
    --gray600: #757575;
    --gray500: #9E9E9E;
    --gray400: #BDBDBD;
    --gray300: #E0E0E0;
    --gray200: #EEEEEE;
    --gray100: #F5F5F5;
    --whitish: #FAFAFA;
    --white: #FAFAFA;

    --primary: #761cec;
    --primary-dark: #512DA8;
    --primary-light: #D1C4E9;
    
    --text: #ffb093;
    --text-dark: color(var(--text) lightness(-20%));
    --text-light: color(var(--text) lightness(+20%));

    --font-xxlarge: 3rem;
    --font-xlarge: 1.5rem;
    --font-large: 1.2rem;
    --font-normal: 1rem;
    --font-small: .9rem;
    --font-xsmall: .7rem;
    --font-xxsmall: .5rem;

    --bold: 600;
    --normal: 400;
    --light: 100;

    --button: {
        background:none;
        border:none;
        padding: 1rem;
    };
    --button-primary: {
        color: var(--white);
        cursor: pointer;
        background-color: var(--primary);
        transition: background .2s;
        &:hover {
            background-color: var(--primary-dark);
        }
    };
}
