html
  head
    title Angular 2 TypeScript Gulp QuickStart Movidas Locas del Jueves
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // 1. Load libraries
    // Polyfill(s) for older browsers
    script(src='lib/es6-shim/es6-shim.min.js')
    script(src='lib/zone.js/dist/zone.js')
    script(src='lib/reflect-metadata/Reflect.js')
    script(src='lib/systemjs/dist/system.src.js')
    // 2. Configure SystemJS
    script(src='systemjs.config.js')
    script.
      System.import('app')
      .then(null, console.error.bind(console));
  // 3. Display the application
  body
    app Loading...
