mixin icon(icon)
    svg.icon(class!=icon)
        use(xlink:href="assets/svg/symbol-defs.svg#" + icon )


mixin loader
    .square-container
        svg.loader(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 58.1 76.7")
            path(d="M0 76.7V0h58v76.7H47V11.2H11v65.5z")
            path(d="M0 76.7V0h58v76.7H47V11.2H11v65.5z")
            path.center-stroke(d="M23 0h12v61H23z")
        p Loading...
