@import 'globals.css';
@import '../node_modules/normalize.css/normalize.css';

* {
    box-sizing: border-box;
}

body {
    background: var(--gray200);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

svg {
    height: 1rem;
    width: 1rem;
}
