@import 'globals.css';
@import 'styles/icons.css';
@import 'styles/loader.css';
@import 'styles/component-loader.css';
@import '../node_modules/normalize.css/normalize.css';

* {
    box-sizing: border-box;
}
body {
    background: var(--gray200);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
