@import '../../../globals.css';

:host {
    display: block;
}

.feedback {
    display: flex;
    align-items: center;
    padding: .4rem 2rem;
    height: 3rem;
}

.comments, .reactions {
    display: flex;
    align-items: flex-start;
}

.reaction {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray500);
    padding: .2rem .4rem;
    border-radius: 10px;
    background-color: var(--gray100);
    margin-top: 1px;
    margin-right: .3rem;

    & .emoji {
        height: 1.3rem;
        width: 1.3rem;
        margin-right: .2rem;
    }

    & .counter {
        font-size: .9rrem;
        color: var(--primary);
    }
}

.comments {
    margin-left: auto;
    align-items: center;

    & .icon-message {
        fill: var(--primary);
        margin-bottom: -.2rem;
    }

    & .counter {
        font-weight: var(--bold);
        font-size: .9rem;
        padding-left: .2rem;
    }

    & .content {
        margin-bottom: 2px;
        margin-left: 5px;
    }
}
