doctype html
include ../../../mixins

.feedback
    .reactions
      .reaction(*ngFor='let reaction of reactions | KeysFilter')
        span.emoji([ngClass]='"emoji-" + reaction.key')
        span.counter {{ reaction.value }}

    a.comments(href="javascript:void(0)", (click)="handleToggleComments()")
      span 
        +icon('icon-message')
      span.counter {{ comments }}
      span.content comentarios

comment-list(
  *ngIf="showComments && (session.currentUser || comments > 0)",
  [entity]="entity",
  [uuid]="uuid")

comment-input(
  *ngIf="showComments && session.currentUser", 
  [entity]="entity", 
  [uuid]="uuid",
  (onCreateComment)="handleCommentCreated($event)")
