.comments
    | Comentarios
    .count ({{ comments }})
    .reactions
        .emoji(
            *ngFor='let reaction of reactions | KeysFilter',
            [ngClass]='"emoji-" + reaction.key'
        ) ({{ reaction.value }})
