include ../../../mixins
vertical-list(
    [type]="type",
    [items]="items",
    (currentItem)="handleSelected($event)"
)
    +comploader
card-container(
    entity="projects"
    [items]="items",
    [selectedItem]="selectedItem",
    [owner-menu]="ownerMenu"
)
    +comploader
